<div class="col-md-6 col-sm-6 col-md-offset-3">
<div class="transblack2">
<h1>Editing travel</h1>

<%= render 'form' %>

<%= link_to 'Show', @travel %> |
<%= link_to 'Back', travels_path %>
</div>
</div>