<h1 style = "color: white">Editing cycle</h1>

<%= render 'form' %>

<!-- <%= link_to 'Show', @cycle , :class => "btn btn-success"%> | -->
<%= link_to 'Back', cycles_path, :class => "btn btn-default" %>
