<!DOCTYPE html>
<html lang = "en">
<head>
  <link href='http://fonts.googleapis.com/css?family=Bubbler+One' rel='stylesheet' type='text/css'>
</head>
<body>
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<div class = "panel panel-default">
  <div class = "panel-body">

  </body>
  <div class="col-md-6">
    <p style = "font-family: Bubbler One;font-size: 20px;">Pool a car with your friends around you.</p>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-6">
      <button id ="carpool"type="button" class="btn btn-info btn-lg" style = "height: 100px;width: 100%;font-size: 25px;">
        Car Pool
      </button>
  </div>

  <div class="col-md-6">
    <p style = "margin-top: 15%;font-family: Bubbler One;font-size: 20px;">Share a ride in IIITD for 4 hours.</p>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-6">
      <button id ="cycle user"type="button" class="btn btn-info btn-lg" style = "height: 100px;width: 100%;font-size: 25px;margin-top: 15%;">
        Bicycle Ride
      </button>
  </div>

  <div class="col-md-6">
    <p style = "margin-top: 15%;font-family: Bubbler One;font-size: 20px;">Admin Panel for Bicyle Sharing.</p>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-6">
      <button id = "cycle admin"type="button" class="btn btn-danger btn-lg" style = "height: 100px;width: 100%;font-size: 25px;margin-top:15%;">
        Admin Login
      </button>
  </div>
</div>
</div>
<div class="col-md-2"></div>
</div>
</body>
<script>
document.getElementById("carpool").onclick = function() {
  location.href = "/travel";
}
document.getElementById("cycle admin").onclick = function() {
  location.href = "/cycle";
}
document.getElementById("cycle user").onclick = function() {
  location.href = "/dashboard"
}
</script>
</html>
