<!DOCTYPE html>
<html lang = "en">
<head>
  <link href='http://fonts.googleapis.com/css?family=Bubbler+One' rel='stylesheet' type='text/css'>
</head>
<body>
  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="assets/heyo.jpg" alt="...">
        <div class="caption">
          <h3>Car Pooling</h3>
          <p>Share your car or join your pals going around the same destination as of yours.</p>
          <button id ="carpool"type="button" class="btn btn-info" style = "height: 80px;width: 100%;font-size: 25px;">
            Car Pool
          </button>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="assets/9.jpg" alt="...">
        <div class="caption">
          <h3>Bicycle Ride</h3>
          <p>Take a bicycle and roam around the sprawling IIIT campus.</p>
          <button id ="cycle user"type="button" class="btn btn-info" style = "height: 80px;width: 100%;font-size: 25px;">
            Take a Ride
          </button>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src = "assets/10.jpg" alt="...">
        <div class="caption">
          <h3>Admin Panel</h3>
          <p>Access only to Administrators managing the issuing of Bicycles.</p>
          <button id ="cycle admin"type="button" class="btn btn-danger" style = "height: 80px;width: 100%;font-size: 25px;">
            Admin Access
          </button>
        </div>
      </div>
    </div>
  </div>
</body>
<script>
document.getElementById("carpool").onclick = function() {
  location.href = "/travel";
}
document.getElementById("cycle admin").onclick = function() {
  location.href = "/cycle";
}
document.getElementById("cycle user").onclick = function() {
  location.href = "/dashboard"
}
</script>
</html>
