<script>
    BootstrapDialog.show({
        title: 'Select from below',
        message: function(dialog) {
            var $content = $('<div><h1>Choose your path!</h1><button id="carpool" class="btn btn-success" style="height: 40px; width:150px; margin:auto;">CarPool is Cool</button>' +
                    '<button id="cycle user" class="btn btn-success" style="margin-left: 10px; height: 40px; width: 150px;">Get a Bicycle Ride</button>'+
                    '<button id="cycle admin" class="btn btn-danger" style="margin-left: 10px; height: 40px; width: 150px;">Admin Panel</button></div>');
            var $footerButton = dialog.getButton('btn-1');
            $content.find('button').click({$footerButton: $footerButton}, function(event) {
                event.data.$footerButton.enable();
                event.data.$footerButton.stopSpin();
                dialog.setClosable(true);
            });

            return $content;
        },
        buttons: [{
            id: 'btn-1',
            label: 'Click to disable and spin.',
            action: function(dialog) {
                var $button = this; // 'this' here is a jQuery object that wrapping the <button> DOM element.
                $button.disable();
                $button.spin();
                dialog.setClosable(false);
            }
        }]
    });
</script>
<script>
  document.getElementById("carpool").onclick = function() {
      location.href = "/travel";
  }
  document.getElementById("cycle admin").onclick = function() {
      location.href = "/cycle";
  }
  document.getElementById("cycle user").onclick = function() {
    location.href = "/dashboard"
  }
</script>
