<h1 style = "color: white;">Editing Ride</h1>

<%= render 'form' %>

<!-- <%= link_to 'Save', @rider, :class => "btn btn-success"%>  -->
<%= link_to 'Cancel', riders_path, :class => "btn btn-default"%>
